@using STM.ATDB.MvcWeb.Models
@using STM.ATDB.MvcWeb.App_Helpers
@using STM.ATDB.MvcWeb.Properties


@{
    ViewBag.Title = "Index";
}
<div id="form-container" class="panel-group col-md-12 no-gutter">
    <form id="search-container" class="col-md-12">
        <div class="panel-group col-md-12 well well-sm animated fadeIn">
            <h3><i class="fa fa-fw fa-th-list"></i>Criteria</h3>
            <div class="panel-group pl-2">
                
            </div>
           
        </div>
    </form>
</div>
