@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
   
    <div class="jumbotron margin-top-15" >
        <h1>404 : Page Not Found</h1>
    </div>
   <div class="error-container">
       <h2>
           <i class="fa fa-exclamation-circle"></i> Sorry, The page you tried could not be found.
       </h2>
       <div>
           You may have typed the address incorrectly or you may an outdated link.
       </div>
       <div>
           If you found a broken link from our site. Please contact STM IT.
       </div>
   </div>
</div>
