@{
    var currentNode = MvcSiteMapProvider.SiteMaps.Current.CurrentNode;
    var pageTitle = String.IsNullOrEmpty(ViewBag.PageTitle) ? (currentNode == null ? "" : currentNode.Title) : ViewBag.PageTitle;
    var iconClass = "fa fa-fw";
    if (currentNode != null && currentNode.Attributes.ContainsKey("icon"))
    {
        iconClass = iconClass + " fa-" + (string)currentNode.Attributes["icon"];
    }
}
<div class="page-title-container row">
    <div class="col-xs-12">
        <h1 class="page-title"><i class="@iconClass"></i> @pageTitle</h1>
    </div>
</div>
